* {
    font-family: 'Mansalva', cursive;
    color: #ECECEC;
    opacity: 0.95;
}


@media (max-width: 970px) {
    .stats {
        display: none;
    }
    .add {
        display: none;
    }
    .tips {
        display: none;
    }
}

.nav-link {
    font-size: 3rem;
    color: #ECECEC;
}
.nav-link:hover {
    font-size: 4rem;
    color: #ECECEC;
}

body {
    background-image: url(./Images/Chalkboard.jpg);
    opacity: 0.7;
}

h3 {
    font-size: 3rem;
}

span {
    font-size: 2rem;
}

.add:hover {
    font-weight: bold;
}

#playground {
    font-size: 6rem;
    text-align: center;
}

.navbar-brand {
    color: #ECECEC;
    font-size: 5rem;
}

.navbar-brand:hover {
    color: #ECECEC;
    font-weight: bold;
}

img {
    height: 450px;
}